<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542338452511-91934arl7oc7p33gb6hos17lmeoor46f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542338452511-91934arl7oc7p33gb6hos17lmeoor46f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>542338452511-1vpq4utu96e5ds438hrqontq5ot6p4cj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZvKZusBCRub1GcqluR86eoPOj6Kw5rpI</string>
	<key>GCM_SENDER_ID</key>
	<string>542338452511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kios.myxpdc</string>
	<key>PROJECT_ID</key>
	<string>xentra-9be2c</string>
	<key>STORAGE_BUCKET</key>
	<string>xentra-9be2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542338452511:ios:8b6d31da304876dd3cd92a</string>
</dict>
</plist>