/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/* Custome styles */
ion-segment-button#segMenu::part(native) {
  color: #242424;
  padding: 5px 0;
}
.segment-button-checked#segMenu::part(native) {
  color: rgb(255, 255, 255);
  background: rgb(24, 117, 248);
  border-radius: 10px;
}
ion-segment-button#segMenu::part(indicator-background) {
  border-radius: 10px;
  background: rgb(24, 117, 248);
}
ion-content#Beranda{
  --background: linear-gradient(45deg, #36abe0, #2d55ff, #52b3d9);
}
ion-content#Login{
  --background: radial-gradient(circle at top left,#4063ffb2 25%,#4f46e4 25.5%, #4f46e4 36%, #0072fe 37%, transparent 100%),radial-gradient(circle at bottom right, #000000 34%,#4f46e4 34.5%, #4f46e4 45.5%, transparent 46%, #000000 100%);
  --background-size: 6em 6em;
  --background-color: #7fb9ff;
  --opacity: 1
}
ion-grid#Beranda{
  background:#F9F9F9;
  border-radius:15px 15px 0 0;
  padding:0;
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::selection{
    display: none;
}
.isExpress{
  background: linear-gradient(35deg, rgba(247,202,24,1), rgba(247,202,24,0.55), rgba(247,202,24,0.7));
  border-radius: 10px;
  padding: 10px;
  margin:5px 0;
}
.isReguler{
  background: linear-gradient(35deg, rgba(137, 196, 244,1), rgba(137, 196, 244,0.55), rgba(137, 196, 244,0.7));
  border-radius: 10px;
  padding: 10px;
  margin:5px 0;
}
.isMotor{
  background: linear-gradient(35deg, rgba(218, 223, 225,1), rgba(218, 223, 225,0.55), rgba(218, 223, 225,0.7));
  border-radius: 10px;
  padding: 10px;
  margin:5px 0;
}
ion-grid#Reguler{
  padding:10px;
  margin: 10px 5px;
  background:#f1f1f1;
  border-radius:10px;
}
ion-modal#modalFoto{
  --background:rgba(8, 8, 8, 0.70);
}
ion-modal#modalFoto ion-header{
  --background:rgba(8, 8, 8, 0.70);
}
ion-modal#modalFoto ion-toolbar{
  --background:rgba(8, 8, 8, 0.70);
}
#mapLive{
  display: inline-block;
  margin-top: -20vh;
  height: 130vh;
  width: 100vw;
  animation: fade 0.25s linear;
}
#fab{
  --background: #27279F;
  --border-color:#0000A0;
}

#fabButton{
  --background-focused: #0000A0;
  --background-hover: #27279F;
  --background:#0000A0;
  --border-radius:10px;
  --color:white;
  width:140px;
  height:50px;
  text-align: left;
  transform: translateX(-55%);
}
ion-modal#modalHelp{
  border-radius: 20px 20px 0 0;
}
ion-modal#modalHelp::part(handle){
  display: none;
}
.selected2{
  background: transparent;
  padding:5px;
}
.selected2:hover{
  transition: all 0.2s;
  background: rgba(225, 223, 223, 0.848);
  cursor: pointer;
}
ion-col#AkunBackground{
  background: radial-gradient(circle at top left,#4063ffb2 25%,#4f46e4 25.5%, #4f46e4 36%, #0072fe 37%, transparent 100%),radial-gradient(circle at bottom right,transparent 34%,#4f46e4 34.5%, #4f46e4 45.5%, transparent 46%, transparent 100%);
  background-color: #7fb9ff;
  opacity: 1
}